include ../helpers

-
  const containerModifierMap = {
    fluid: "is-fluid"
  }

mixin container()
  - attributes = supportModifiers(attributes, [containerModifierMap]);
  .container&attributes(attributes)
    block
