include ../helpers

-
  const imageModifierMap = {
    fullwidth: 'is-fullwidth',

    // SQUARE FIXED
    '16by16': 'is-16by16',
    '24by24': 'is-24by24',
    '32by32': 'is-32by32',
    '48by48': 'is-48by48',
    '96by96': 'is-96by96',
    '128by128': 'is-128by128',

    // RESPONSIVE
    square: 'is-square',
    '1by1': 'is-1by1',
    '5by4': 'is-4by4',
    '4by3': 'is-4by3',
    '3by2': 'is-3by2',
    '5by3': 'is-5by3',
    '16by9': 'is-16by9',
    '2by1': 'is-2by1',
    '3by1': 'is-3by1',
    '4by5': 'is-4by5',
    '3by4': 'is-3by4',
    '2by3': 'is-2by3',
    '3by5': 'is-3by5',
    '9by16': 'is-9by16',
    '1by2': 'is-1by2',
    '1by3': 'is-1by3',
  };

mixin image
  - imageAttributes = extractAttributes(attributes, ["src", "rounded"]);
  - attributes = supportModifiers(attributes, [imageModifierMap]);
  figure.image&attributes(attributes)
    if imageAttributes.src
      img(src!=imageAttributes.src class=imageAttributes.rounded ? "is-rounded" : "")
    else
      block
