-
  /*
   * MODIFIERS
   */
   
  // These modifiers map a mixin attribute to a classname.
  // modifierMaps that are shared among mixins are defined here. Custom maps
  // can be defined as well.
  
  const COLORS = "colors";
  const SIZES = "sizes";
  
  const sharedModifierMaps = {};
  sharedModifierMaps[COLORS] = {
    white: "is-white",
    black: "is-black",
    light: "is-light",
    dark: "is-dark",
    primary: "is-primary",
    link: "is-link",
    info: "is-info",
    success: "is-success",
    warning: "is-warning",
    danger: "is-danger",
    text: "is-text"
  };
  sharedModifierMaps[SIZES] = {
    small: "is-small",
    normal: "is-normal",
    medium: "is-medium",
    large: "is-large"
  };
  
  function supportModifiers(attributes, modifiers) {
    attributes.class = attributes.class ? attributes.class : [];
    modifiers.forEach(modifier => {
      let modifierMap;
      if(typeof modifier === "string" && sharedModifierMaps[modifier] !== "undefined") {
        modifierMap = sharedModifierMaps[modifier];
      } else {
        modifierMap = modifier;
      }

      if(modifierMap) {
        let supportedModifiers = Object.keys(modifierMap);
        Object.keys(attributes).forEach(attribute => {
          if(supportedModifiers.includes(attribute)) {
            attributes.class = attributes.class.concat(modifierMap[attribute]);
            delete attributes[attribute];
          }
        })
      }

    })
    return attributes;
  }
  
  /*
   * ATTRIBUTES HELPER
   */
  
  // Extract attributes from the attributes object of the mixin. This can be
  // used when attributes modify something specific in the mixin but should
  // not remain on the object to potentially end up as a html attribute.
  
  function extractAttributes(attributes, attributeMap) {
    if (Array.isArray(attributeMap)) attributeMap = { default: attributeMap };
    
    Object.keys(attributeMap).forEach(context => {
      const attributeNames = attributeMap[context];
      attributeMap[context] = attributeNames.reduce((acc, attributeName) => {
        if(attributes[attributeName])
          acc[attributeName] = attributes[attributeName];
        delete attributes[attributeName];
        return acc;
      }, {});
    });
    
    if (attributeMap.default && Object.keys(attributeMap).length === 1)
      attributeMap = attributeMap.default;
    
    return attributeMap;
  }
